<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/global.css">
        <link rel="stylesheet" href="../style/searchResults.css">
        <title>Results</title>
    </head>
    <body>
        <div class="outlined-1-col">
            <div id="search-results">
                <h3></h3>
                <table id="search-table" class="overview-table">
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="pagination"></div>
        <script src="../scripts/searchResults.js"></script>
    </body>
</html>